a {
    margin: 5em;
    color: bisque;
}
a:hover {
    background-color: brown;
}

#navbar {
    border: 3px solid black;
    text-align: center;

}
body {
    background-color: slategray;
    font-family: tahoma;
}
button:hover {
    color:red;
    
}
